<!-- Validation failure messages -->
<% if @party.errors.any? %>
  <% @party.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Add Party</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_party" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for name -->
      <div class="form-group">
        <label for="name" class="control-label">
          Name
        </label>

        <input type="text" id="name" name="name" placeholder="Name" class="form-control" value="<%= @party.name %>">
      </div>

      <!-- Label and input for type_id -->
      <div class="form-group">
        <label for="type_id" class="control-label">
          Type
        </label>

        <%= select_tag(:type_id, options_from_collection_for_select(Type.all, :id, :event_type, @party.type_id), :class => "form-control") %>
      </div>

      <!-- Label and input for city_id -->
      <div class="form-group">
        <label for="city_id" class="control-label">
          City
        </label>

        <input type="text" id="city_id" name="city_id" placeholder="City" class="form-control" value="<%= @party.city_id %>">
      </div>

      <!-- Label and input for start_date -->
      <div class="form-group">
        <label for="start_date" class="control-label">
          Start date
        </label>

        <input type="text" id="start_date" name="start_date" placeholder="Start date" class="form-control" value="<%= @party.start_date %>">
      </div>

      <!-- Label and input for end_date -->
      <div class="form-group">
        <label for="end_date" class="control-label">
          End date
        </label>

        <input type="text" id="end_date" name="end_date" placeholder="End date" class="form-control" value="<%= @party.end_date %>">
      </div>

      <!-- Label and input for lodging_id -->
      <div class="form-group">
        <label for="lodging_id" class="control-label">
          Lodging
        </label>

        <input type="text" id="lodging_id" name="lodging_id" placeholder="Lodging" class="form-control" value="<%= @party.lodging_id %>">
      </div>

      <button class="btn btn-success">
        Create Party
      </button>
      or
      <a href="/parties">Cancel</a>
    </form>
  </div>
</div>
