<div class="page-header">
  <h3>Party #<%= @party.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Name</dt>
      <dd><%= @party.name %></dd>

      <dt>Type</dt>
      <dd><%= @party.type_id %></dd>

      <dt>City</dt>
      <dd><%= @party.city_id %></dd>

      <dt>Start date</dt>
      <dd><%= @party.start_date %></dd>

      <dt>End date</dt>
      <dd><%= @party.end_date %></dd>

      <dt>Lodging</dt>
      <dd><%= @party.lodging_id %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/parties" class="btn btn-primary">
        Back
      </a>
      <a href="/parties/<%= @party.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_party/<%= @party.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Party has many events -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Events
      </li>

      <% @party.events.each do |planned_event| %>
        <li class="list-group-item">
          <a href="/planned_events/<%= planned_event.id %>">
            <%= planned_event.party_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/planned_events/<%= planned_event.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/planned_events/<%= planned_event.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_planned_event/<%= planned_event.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<!-- A Party has many attendees -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Attendees
      </li>

      <% @party.attendees.each do |attendee| %>
        <li class="list-group-item">
          <a href="/attendees/<%= attendee.id %>">
            <%= attendee.user_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/attendees/<%= attendee.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/attendees/<%= attendee.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_attendee/<%= attendee.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
