<div class="page-header">
  <h3>Party #<%= @party.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Name</dt>
      <dd><%= @party.name %></dd>

      <dt>Type</dt>
      <dd><%= @party.type_id %></dd>

      <dt>City</dt>
      <dd><%= @party.city_id %></dd>

      <dt>Start date</dt>
      <dd><%= @party.start_date %></dd>

      <dt>End date</dt>
      <dd><%= @party.end_date %></dd>

      <dt>Lodging</dt>
      <dd><%= @party.lodging_id %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/parties" class="btn btn-primary">
        Back
      </a>
      <a href="/parties/<%= @party.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_party/<%= @party.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
