<div class="page-header">
  <h3>Party #<%= @party.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Name</dt>
      <dd><%= @party.name %></dd>

      <dt>Type</dt>
      <dd>
        <% if @party.type.present? %>
          <a href="/types/<%= @party.type_id %>">
            <%= @party.type.event_type %>
          </a>
        <% end %>
      </dd>

      <dt>City</dt>
      <dd>
        <% if @party.city.present? %>
          <a href="/cities/<%= @party.city_id %>">
            <%= @party.city.name %>
          </a>
        <% end %>
      </dd>

      <dt>Start date</dt>
      <dd><%= @party.start_date %></dd>

      <dt>End date</dt>
      <dd><%= @party.end_date %></dd>

      <dt>Lodging</dt>
      <dd>
        <% if @party.lodging.present? %>
          <a href="/lodgings/<%= @party.lodging_id %>">
            <%= @party.lodging.name %>
          </a>
        <% end %>
      </dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/parties" class="btn btn-primary">
        Back
      </a>
      <a href="/parties/<%= @party.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_party/<%= @party.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Party has many events -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Events
      </li>

      <% @party.events.each do |planned_event| %>
        <li class="list-group-item">
          <a href="/planned_events/<%= planned_event.id %>">
            <%= planned_event.party_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/planned_events/<%= planned_event.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/planned_events/<%= planned_event.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_planned_event/<%= planned_event.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_planned_event" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for party_id -->
      <input type="hidden" name="party_id" value="<%= @party.id %>">

      <!-- Label and input for activity_id -->
      <div class="form-group">
        <label for="activity_id" class="control-label">
          Activity
        </label>

        <%= select_tag(:activity_id, options_from_collection_for_select(Activity.all, :id, :title), :class => "form-control") %>
      </div>

      <button class="btn btn-block btn-success">
        Create Planned Event
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>

<!-- A Party has many attendees -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Attendees
      </li>

      <% @party.attendees.each do |attendee| %>
        <li class="list-group-item">
          <a href="/attendees/<%= attendee.id %>">
            <%= attendee.user_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/attendees/<%= attendee.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/attendees/<%= attendee.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_attendee/<%= attendee.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_attendee" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for user_id -->
      <input type="hidden" name="user_id" value="<%= current_user.id %>">

      <!-- Label and input for party_id -->
      <input type="hidden" name="party_id" value="<%= @party.id %>">

      <button class="btn btn-block btn-success">
        Create Attendee
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>
