<div class="page-header">
  <h3>Type #<%= @type.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Event type</dt>
      <dd><%= @type.event_type %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/types" class="btn btn-primary">
        Back
      </a>
      <a href="/types/<%= @type.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_type/<%= @type.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Type has many parties -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Parties
      </li>

      <% @type.parties.each do |party| %>
        <li class="list-group-item">
          <a href="/parties/<%= party.id %>">
            <%= party.name %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/parties/<%= party.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/parties/<%= party.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_party/<%= party.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_party" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for name -->
      <div class="form-group">
        <label for="name" class="control-label">
          Name
        </label>

        <input type="text" id="name" name="name" placeholder="Name" class="form-control" value="">
      </div>

      <!-- Label and input for type_id -->
      <input type="hidden" name="type_id" value="<%= @type.id %>">

      <!-- Label and input for city_id -->
      <div class="form-group">
        <label for="city_id" class="control-label">
          City
        </label>

        <%= select_tag(:city_id, options_from_collection_for_select(City.all, :id, :name), :class => "form-control") %>
      </div>

      <!-- Label and input for start_date -->
      <div class="form-group">
        <label for="start_date" class="control-label">
          Start date
        </label>

        <input type="text" id="start_date" name="start_date" placeholder="Start date" class="form-control" value="">
      </div>

      <!-- Label and input for end_date -->
      <div class="form-group">
        <label for="end_date" class="control-label">
          End date
        </label>

        <input type="text" id="end_date" name="end_date" placeholder="End date" class="form-control" value="">
      </div>

      <!-- Label and input for lodging_id -->
      <div class="form-group">
        <label for="lodging_id" class="control-label">
          Lodging
        </label>

        <%= select_tag(:lodging_id, options_from_collection_for_select(Lodging.all, :id, :name), :class => "form-control") %>
      </div>

      <button class="btn btn-block btn-success">
        Create Party
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>
