<div class="page-header">
  <h3>Attendee #<%= @attendee.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>User</dt>
      <dd>
        <% if @attendee.user.present? %>
          <a href="/users/<%= @attendee.user_id %>">
            <%= @attendee.user.email %>
          </a>
        <% end %>
      </dd>

      <dt>Party</dt>
      <dd>
        <% if @attendee.party.present? %>
          <a href="/parties/<%= @attendee.party_id %>">
            <%= @attendee.party.name %>
          </a>
        <% end %>
      </dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/attendees" class="btn btn-primary">
        Back
      </a>
      <% if current_user == @attendee.user %>
        <a href="/attendees/<%= @attendee.id %>/edit" class="btn btn-warning">
          Edit
        </a>
        <a href="/delete_attendee/<%= @attendee.id %>" class="btn btn-danger" rel="nofollow">
          Delete
        </a>
      <% end %>
    </div>
  </div>
</div>
