<div class="page-header">
  <h1>
    Planned events
    <a href="/planned_events/new" class="btn btn-lg btn-success">New Planned event</a>
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Party</th>
        <th>Activity</th>
        <th>Actions</th>
      </tr>

      <% @planned_events.each do |planned_event| %>
      <tr>
        <td>
          <% if planned_event.party.present? %>
            <a href="/parties/<%= planned_event.party.id %>">
              <%= planned_event.party.name %>
            </a>
          <% end %>
        </td>
        <td>
          <% if planned_event.activity.present? %>
            <a href="/activities/<%= planned_event.activity.id %>">
              <%= planned_event.activity.title %>
            </a>
          <% end %>
        </td>
        <td>
          <a href="/planned_events/<%= planned_event.id %>" class="btn btn-primary">Show</a>
          <a href="/planned_events/<%= planned_event.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_planned_event/<%= planned_event.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
        </td>
      </tr>
      <% end %>
    </table>
    <%= paginate @planned_events, theme: 'twitter-bootstrap-4' %>
  </div>
</div>
