<div class="page-header">
  <h3>Planned Event #<%= @planned_event.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Party</dt>
      <dd>
        <% if @planned_event.party.present? %>
          <a href="/parties/<%= @planned_event.party_id %>">
            <%= @planned_event.party.name %>
          </a>
        <% end %>
      </dd>

      <dt>Activity</dt>
      <dd>
        <% if @planned_event.activity.present? %>
          <a href="/activities/<%= @planned_event.activity_id %>">
            <%= @planned_event.activity.title %>
          </a>
        <% end %>
      </dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/planned_events" class="btn btn-primary">
        Back
      </a>
      <a href="/planned_events/<%= @planned_event.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_planned_event/<%= @planned_event.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
