<div class="page-header">
  <h3>Activity #<%= @activity.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Title</dt>
      <dd><%= @activity.title %></dd>

      <dt>Notes</dt>
      <dd><%= @activity.notes %></dd>

      <dt>Cost pp</dt>
      <dd><%= @activity.cost_pp %></dd>

      <dt>City</dt>
      <dd>
        <% if @activity.city.present? %>
          <a href="/cities/<%= @activity.city_id %>">
            <%= @activity.city.name %>
          </a>
        <% end %>
      </dd>

      <dt>Website</dt>
      <dd><%= @activity.website %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/activities" class="btn btn-primary">
        Back
      </a>
      <a href="/activities/<%= @activity.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_activity/<%= @activity.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Activity has many planned_events -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Planned Events
      </li>

      <% @activity.planned_events.each do |planned_event| %>
        <li class="list-group-item">
          <a href="/planned_events/<%= planned_event.id %>">
            <%= planned_event.party_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/planned_events/<%= planned_event.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/planned_events/<%= planned_event.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_planned_event/<%= planned_event.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_planned_event" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for party_id -->
      <div class="form-group">
        <label for="party_id" class="control-label">
          Party
        </label>

        <%= select_tag(:party_id, options_from_collection_for_select(Party.all, :id, :name), :class => "form-control") %>
      </div>

      <!-- Label and input for activity_id -->
      <input type="hidden" name="activity_id" value="<%= @activity.id %>">

      <button class="btn btn-block btn-success">
        Create Planned Event
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>
