<div class="page-header">
  <h3>Lodging #<%= @lodging.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Name</dt>
      <dd><%= @lodging.name %></dd>

      <dt>Url</dt>
      <dd><%= @lodging.url %></dd>

      <dt>Address</dt>
      <dd><%= @lodging.address %></dd>

      <dt>City</dt>
      <dd><%= @lodging.city_id %></dd>

      <dt>Cost night</dt>
      <dd><%= @lodging.cost_night %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/lodgings" class="btn btn-primary">
        Back
      </a>
      <a href="/lodgings/<%= @lodging.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_lodging/<%= @lodging.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Lodging has many parties -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Parties
      </li>

      <% @lodging.parties.each do |party| %>
        <li class="list-group-item">
          <a href="/parties/<%= party.id %>">
            <%= party.name %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/parties/<%= party.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/parties/<%= party.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_party/<%= party.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
